Get password: kubectl get secret <rec-name> -o jsonpath='{.data.password}' | base64 --decode

Database name: testdb

Clustera (useast): 
------------
REC hostname: demo-clustera.redis.svc.cluster.local
API hostname: api-clustera.tigera.redisdemo.com
Ingress suffix: -clustera.tigera.redisdemo.com
REC admin username: demo@redislabs.com
REC admin  password: 
Replication hostname: testdb-clustera.tigera.redisdemo.com 
Replication endpoint: testdb-clustera.tigera.redisdemo.com:443


Clusterb (uswest2): 
------------
REC hostname: demo-clusterb.redis.svc.cluster.local
API hostname: api-clusterb.tigera.redisdemo.com
Ingress suffix: -clusterb.tigera.redisdemo.com
REC admin username: demo@redislabs.com
REC admin  password: 
Replication hostname: testdb-clusterb.tigera.redisdemo.com
Replication endpoint: testdb-clusterb.tigera.redisdemo.com:443

kubectl get secret demo-clustera -o jsonpath='{.data.password}' | base64 --decode

kubectl exec -it demo-clustera-0 -- /bin/bash
Defaulted container "redis-enterprise-node" out of: redis-enterprise-node, bootstrapper

crdb-cli crdb create \
  --name testdb \
  --memory-size 500MB \
  --encryption yes \
  --port 11069 \
  --instance fqdn=demo-clustera.redis.svc.cluster.local,url=https://api-clustera.tigera.redisdemo.com,username=demo@redislabs.com,password=XWHuHKvh,replication_endpoint=testdb-clustera.tigera.redisdemo.com:443,replication_tls_sni=testdb-clustera.tigera.redisdemo.com \
  --instance fqdn=demo-clusterb.redis.svc.cluster.local,url=https://api-clusterb.tigera.redisdemo.com,username=demo@redislabs.com,password=u1OQ1LH8,replication_endpoint=testdb-clusterb.tigera.redisdemo.com:443,replication_tls_sni=testdb-clusterb.tigera.redisdemo.com