# User-defined variables
K8S_CONTEXTS=("aks-kartik-cc-mcm-redis-westus" "aks-kartik-cc-mcm-redis-canadacentral")

# Do not change unless you know what you are doing
INSTALL_FILES=( "my-rec-clustera.yaml" "my-rec-clusterb.yaml" )
NAMESPACE=redis